#first{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45vh;
}
#butt1{
    padding: 20px
}
#butt2{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    visibility: hidden;
}
#butt3{
    visibility: hidden;
    z-index: 4;
    top: 0;
    left: 0;
    position: absolute;
}
.checkbox{
    visibility: hidden;
    z-index: 3;
    top: 0;
    left: 0;
    position: absolute;
}
.help{
    visibility: hidden;
    z-index: 3;
    top: 0;
    left: 0;
    position: absolute;
}
