*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: gray;
}
#top{
    margin-bottom: 1000px;
    color: blanchedalmond;
    text-align: center;
}
#bottom{
    text-align: center;
    color: blanchedalmond;
}
.butt{
    transition-duration: 0.5s;
  text-decoration: none;
  font-size: 16px;
  color: blanchedalmond;
  border: blanchedalmond 2px solid;
  min-width: 75%;
}
.bar{
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10vh; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: blanchedalmond; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.bar:hover{
    transition-duration: 0.5s;
    width: 30vw;
}
.bar:hover .butt{
    transition-duration: 0.5s;
      color: black;
      border: black 2px solid;
      padding-left: 5%;
      padding-right: 50%;
      padding-top: 5%;
      padding-bottom: 5%;

}